{% extends 'base.html' %}

{% block head %}
    <title>eNtweni Booking - Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
{% endblock %}

{% block content %}
  <img src="{{ url_for('static', path='images/entweni-booking.png') }}" alt="Entweni Logo" class="logo">

  <div class="container">
    <h1>500 Internal Server Error</h1>
    <h2>Oops! Something went wrong.</h2>
    <img src="{{ url_for('static', path='images/entweni-booking.png') }}" alt="Error Illustration" class="illustration">
    <div class="buttons">
      <a href="/" class="btn">Home</a>
      <a href="/contact" class="btn">Contact Us</a>
    </div>
  </div>
{% endblock %}

{% block styles %}
    <!-- Add any additional styles specific to the 500 error page here -->
{% endblock %}
