<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>eNtweni Booking - Welcome</title>
            <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block content%}
        {% endblock %}

        {% block styles %}
        {% endblock %}

        {% block scripts %}
            <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>