{% extends 'base.html' %}

{% block head %}
    <title>eNtweni Booking - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
{% endblock %}

{% block content %}
    <h1>
        Welcome
    </h1>
    <h2>
        logged in as ......
    </h2>
    <h2>
        Your roles are:
            <h3>
                role
            </h3>
    </h2>
    <br>
    <form action="{{ url_for('logout') }}"" method="post">
        <button type="submit">logout</button>
    </form>
    
{% endblock %}