{% extends 'base.html' %}
<title>{% block title %}eNtweni Booking - Welcome{% endblock %}</title>
{% block content %}
    
    <div class="welcome-container">
        <h1 class="welcome-title">{{ "eNtweniBooking" }}</h1>
        <p class="welcome-message">Book your dream Vaccation with ease. <b>Ngen' eNtweni</b></p>
        
        <div class="buttons">
            <a href="{{ url_for('sign_in') }}" class="btn">Get Started</a>
            <a href="{{ url_for('home') }}" class="btn">Book Now</a>
            <a href="/about" class="btn">More</a>
            <a href="/api/v1/docs" class="btn">API</a>
            <!-- <a href="{{ url_for('healthcheck') }}" class="btn">API</a> -->
        </div>
    </div>
{% endblock %}
