{% extends 'base.html' %}
{% block head %}
    <title>eNtweni Booking - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
{% endblock %}
{% block content %}
  <img src="{{ url_for('static', path='/images/entweni-booking.png') }}" alt="Company Logo" class="logo">
    
    <div class="welcome-container">
        <h1 class="welcome-title">{{ "eNtweniBooking" }}</h1>
        <p class="welcome-message">Book your dream Vaccation with ease. <b>Ngen' eNtweni</b></p>
        
        <div class="buttons">
            <a href="{{ url_for('sign_in') }}" class="btn">Get Started</a>
            <a href="/book-now" class="btn">Book Now</a>
            <a href="/about" class="btn">More</a>
            <a href="/api/v1/docs" class="btn">API</a>
            <!-- <a href="{{ url_for('healthcheck') }}" class="btn">API</a> -->
        </div>
    </div>
{% endblock %}
