{% extends 'base.html' %}

{% block head %}
    <title>eNtweniBooking - Organisation</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/sign-in.css') }}">
{% endblock %}

{% block content %}
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">{{ organisation.name }}</h1>
            <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
            <h3 style="margin-bottom: 100px; font-size: 24px;">{{ organisation.logo_url }}</h3>
            <p style="margin-bottom: 30px;">{{ organisation.description }}</p>
            <a class="btn btn-outline-warning" href="{{ url_for('organisation_deactivate', organisation_id=organisation.id) }}">Deactivate</a>
            <a class="btn btn-success" href="http://">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('organisation_delete', organisation_id=organisation.id) }}">Delete</a>
            </div>
        </div>
    </div>
    
{% endblock %}