{% extends 'base.html' %}

{% block title %}
    eNtweniBooking - Organisation Details
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1>{{ organisation.name }}</h1>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img src="{{ organisation.logo_url }}" alt="{{ organisation.name }} Logo" class="img-fluid mb-4" style="max-width: 200px;">
            </div>
            <p class="text-center">{{ organisation.description }}</p>
            <div class="d-flex justify-content-center">
                <form action="{{ url_for('organisation_deactivate', organisation_id=organisation.id) }}" method="post" class="me-2">
                    <button class="btn btn-warning" type="submit">Deactivate</button>
                </form>
                <a class="btn btn-success me-2" href="#">Edit</a>
                <form action="{{ url_for('organisation_delete', organisation_id=organisation.id) }}" method="post">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
